/*.sidebar {*/
/*    @apply 'bg-dark-500 '*/
/*}*/

.pagetitle {
    background-image: linear-gradient(90deg,#a5a4ff,#a1b7c7,#c1b7c7,#a5a4ff,#afb7c7);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 800;
    color: transparent;
    margin-right: 0rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 800;
    letter-spacing: -1px;
}